{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md">
                            <h4>{{ app.user.firstName }} {{ app.user.lastName }}</h4>
                            <p><i class="glyphicon glyphicon-map-marker">{{ app.user.adress }}</i></p>
                            <p><i class="glyphicon glyphicon-envelope"></i>{{ app.user.email }}</p>
                            <p><i class="glyphicon glyphicon glyphicon-earphone"></i>0{{ app.user.phoneNumber }}</p>
                            <p><i class="glyphicon glyphicon-gift"></i>Compte crée le : {{ app.user.createdAt | date('d/m/Y à H:i')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}

        <h4>Merci de vous connecter pour accéder à votre profil</h4>
        <a href="{{ path('app_login') }}" class="btn btn-secondary" style="margin-right: 10px">Connexion</a>
        <h4>Vous n'avez pas de compte ?</h4>
        <a href="{{ path('app_register') }}" class="btn btn-secondary" style="margin-right: 10px">Inscrivez-vous</a>

    {% endif %}

{% endblock %}
