{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}

        <div class="row">
            <div class="col-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem; text-align: center;">
                    <div class="card-header">
                        <h3>Mes informations</h3>
                    </div>
                    <div class="card-body">
                        <h5>{{ app.user.firstName }} {{ app.user.lastName }}</h5>
                        <p><em>{{ app.user.adress }}</em></p>
                        <p>{{ app.user.email }}</p>
                        <p>0{{ app.user.phoneNumber }}</p>
                        <p>Compte crée le : {{ app.user.createdAt | date('d/m/Y à H:i')}}</p>
                        <div class="row justify-content-center">
                            <a href="{{ path('account_edit', {'id': app.user.id}) }}" class="btn btn-secondary">Modifier mes informations</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                {% if results is not empty %}
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">
                        <h3>Mes résultats</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-primary">
                            <thead>
                            <tr>
                                <th scope="col">Nom du Quiz</th>
                                <th scope="col">Mon résultat</th>
                                <th scope="col">Améliorer mon résultats</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in results %}
                                <tr>
                                    <td>{{ result.quiz.title }}</td>
                                    <td>{{ result.resultat }} / {{ result.quiz.getQuestions()|length }}</td>
                                    <td><a href="{{ path('quiz_show', {'id': result.quiz.id}) }}" class="btn btn-secondary">Allez au Quiz</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    {% else %}

        <h4>Merci de vous connecter pour accéder à votre profil</h4>
        <a href="{{ path('app_login') }}" class="btn btn-secondary" style="margin-right: 10px">Connexion</a>
        <h4>Vous n'avez pas de compte ?</h4>
        <a href="{{ path('app_register') }}" class="btn btn-secondary" style="margin-right: 10px">Inscrivez-vous</a>

    {% endif %}

{% endblock %}
