{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
        <h3>Ajouter une Question</h3>

        {{ form_start(formQuestion) }}

            {{ form_row(formQuestion.type, {'attr':
                {'placeholder': 'Type'},
                'value': 'simple'
            }) }}
            {{ form_row(formQuestion.question, {'attr': {'placeholder': 'Question'}}) }}
            {{ form_row(formQuestion.answer, {'attr': {'placeholder': 'Réponse'}}) }}
            {{ form_row(formQuestion.quiz) }}

            <button type="submit" class="btn btn-success">Ajouter la question</button>

        {{ form_end(formQuestion) }}

    {% else %}
        <h3>Page invalide !</h3>
    {% endif %}

{% endblock %}