{% extends 'base.html.twig' %}

{% block title %}Quiz CD5{% endblock %}

{% block body %}

    <div class="text-center" style="margin: 20px">
        <h2>Bienvenue sur le site des Quiz du CD5</h2>
        <p>Sur ce site, vous pouvez tester vos connaissances footballistiques</p>
        {% if not app.user %}
            <p>Pour continuer ou commencer les quiz, <a href="{{ path('app_login') }}">connectez-vous</a> !</p>
        {% endif %}
    </div>

    <div class="row">
        {% if not app.user %}
            <div class="card border-primary mb-3 col-md-5 md-auto text-center">
                <div class="card-header">Vous n'avez pas de compte ? Inscrivez-vous !</div>
                <div class="card-body">
                    <a href="{{ path('app_register') }}" class="btn btn-secondary" style="margin-right: 10px; width: 300px">Inscrivez-vous</a>
                </div>
            </div>
        {% endif %}

        {% if app.user %}
            <div class="card border-primary mb-3 col-md-5 md-auto text-center">
                <div class="card-header">Continuez vos Quiz !</div>
                <div class="card-body">
                    {% for quizz in quiz %}
                        <p class="card-text"><a href="{{ path('quiz_show', {'id': quizz.id}) }}" class="btn btn-primary" style="width: 300px">{{ quizz.title }}</a></p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="card border-secondary mb-3 col-md-4 ml-auto">
            <div class="card-header">Derniers utilisateurs inscrits</div>
            <div class="card-body">
                {% for user in lastUsers %}
                    <p class="card-text small"><a href="">{{ user.firstName }}</a>, inscrit le {{ user.createdAt | date('d/m/Y à H:i')}}</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
